
@import "mixins";
@import "variable";

.container{
    max-width:1024px;
    height:auto;
    margin:0 auto;
    background-color:$light;

    .nav{
      position: relative;
      max-width:1024px;
      height:100px;

        .logo{
            position:absolute;
            top:30px;
            left:42px;
        }
        .home{
            font-family:$font-family-sans-serif;
            font-size: $font4;
            color:$dark2;
            position:absolute;
            left: 663px;
            top: 40px;
        }
        .dessert{
            font-family:$font-family-sans-serif;
            font-size: $font4;
            color:$dark2;
            position:absolute;
            left: 755px;
            top: 40px;
        }
        .login{
            font-family:$font-family-sans-serif;
            font-size: $font4;
            color:$dark2;
            position:absolute;
            left: 847px;
            top: 40px;
        }
        .cart{
            color: $dark2;
            position:absolute;
            left: 958px;
            top:  39px;
        }
    }
  .box{

  }

    .footer{
      max-width:1024px;
      height:457px;
      position: relative;
      top:60px;
      left:0px;

      .mailbar{
        max-width:1024px;
        height:116px;
        position:relative;
        top:0px;
        left:0px;
        background-color: $dark2;
        img{
          position:absolute;
          top:38px;
          left:122px;
        }
        p{
          position:absolute;
          margin: 0;
          top:42px;
          left:182px;
          bottom: 41px;
          color: $light;
          float: left;
          font-size: $font6;
          font-family: $font-family-sans-serif;

        }
        .mail{
          width:380px;
          height:56px;
          background-color: $light2;
          position:absolute;
          top:30px;
          left:522px;

            .email{
              position:relative;
              top:16px;
              left:20px;
            }
            div{
              width:64px;
              height:56px;
              background-color: $bright;
              position:absolute;
              top:0px;
              left:316px;

              .arrow{
                position:absolute;
                top:20px;
                left:24px;
              }
            }

        }
      }
      .foot{
        max-width:1024px;
        height:341px;
        position:relative;
        top:0px;
        left:0px;
        background-color: $light2;
          img{
            position:absolute;
            top:38.9px;
            left:122.07px;
          }
          p{position:absolute;
            top:181px;
            left:122px;
            font-size: $font4;
            font-family: $font-family-sans-serif;
            color:$dark2;

          }
          .lineat{
            position:absolute;
            top:279px;
            left:122px;
            color:$dark2;
          }
          .fb{
            position:absolute;
            top:279px;
            left:162px;
            color:$dark2;
          }
          .txt{
            position:absolute;
            top:30px;
            left:843px;
            color:$dark2;

          }
          .copyright{
            margin: 0px;
            position:absolute;
            top:295px;
            left:644px;
            color:$dark2;
            font-size: $font4;

          }
      }

    }

}
