
@import "mixins";
@import "variable";
@import "layout";

.container{



      .loginbox{
        width:390px;
        height:380px;
        position:relative;
        top:30px;
        left:122px;
        margin-bottom: 30px;
        background-color: $dark2;
          h1{
            margin: 0px;
            position:absolute;
            top:40px;
            left:121px;
            color:$light;
            font-size: $font9;
            font-family: $font-family-sans-serif;
          }
          .account,.password{
            width:330px;
            height:56px;
            position:absolute;
            background-color: $light2;

                input{
                  position:relative;
                  width:266px;
                  height:56px;
                  border: 0px;
                  padding: 0px;
                  background-color: inherit;
                  color:$dark;
                  font-size: $font4;
                  font-family: $font-family-sans-serif;
                }

          }
          .account{
            top:130px;
            left:30px;

                img{
                  position:relative;
                  top:5px;
                  left:20px;
                  margin-right: 20px;
                }
                input{
                  top:0px;
                  left:20px;
                }

          }
          .password{
            top:202px;
            left:30px;

              img{
                position:relative;
                left:21px;
                margin-right: 21px;
              }
              input{
                top: 0px;
                left: 21px;
              }
          }
          ::placeholder{
            color:$dark;
            font-size: $font4;
            font-family: $font-family-sans-serif;
          }
          label{
            position:absolute;
            top:274px;
            left:30px;
            color:$light;
            font-size: $font4;
            font-family: $font-family-sans-serif;
          }
          .loginbtn{
            width:390px;
            height:65px;
            position:absolute;
            top:315px;
            left:0px;
            background-color: $bright;
            border: 0px;
            padding: 0px;

            color:$dark2;
            font-size: $font6;
            font-family: $font-family-sans-serif;
          }

          .media{
            width:390px;
            height:350px;
            position:relative;
            top:15px;
            left:390px;
            background-color: $light2;

            h2{
              margin:0px;
              position:absolute;
              top:40px;
              left:67px;
              color:$dark;
              font-size: $font6;
              font-family: $font-family-sans-serif;
            }
            .fb,.google,.yahoo{
              position:absolute;
              margin:0px;
              width:330px;
              height:56px;
              background-color: $light;
            }
            .fb{
              top:109px;
              left:30px;
              img{
                position:relative;
                top:17.59px;
                left:111px;
              }
            }
            .google{
              top:181px;
              left:30px;
              img{
                position:relative;
                top:12.89px;
                left:118px;
              }
            }
            .yahoo{
              top:253px;
              left:30px;
              img{
                position:relative;
                top:16.49px;
                left:117px;
              }
            }

          }
      }





}
